{% extends 'base.html.twig' %}

{% block title %}Créer une nouvelle note{% endblock %}

{% block body %}
    <h1>Créer une nouvelle note</h1>

    {{ include('note/_form.html.twig') }}

    {# <a href="{{ path('app_note_index') }}">back to list</a> #}
{% endblock %}
